<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cap.mvc.dao.mapper.ClassmateMapper" >


  <select id="findActClassmate" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from classmate
    where PWD is NOT  NULL ;
  </select>
  <select id="findAllClassmate" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from classmate ORDER BY PWD DESC ;
  </select>

  <select id="findNoPwdNames" resultType="String">
    select
    NAME,PWD
    from classmate
    where ISNULL(PWD)
  </select>


  <update id="addPwd" parameterType="cap.mvc.model.Classmate">
    update classmate
    set
      PWD = #{pwd,jdbcType=VARCHAR}
    where STU_NMB = #{stuNmb,jdbcType=DECIMAL}
    and  NAME = #{name,jdbcType=VARCHAR}
    and ISNULL(PWD)
  </update>
</mapper>