<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>
<!--
 使用命令： mybatis-generator:generate -e
-->
    <!-- !!!! Driver Class Path(指定MySQL驱动的路径) -->
    <classPathEntry
            location="D:\MAVEN\mysql\mysql-connector-java\5.1.25\mysql-connector-java-5.1.25.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="false"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- !!!! Database Configurations （数据库配置） -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://120.79.181.39:3306/page616321?characterEncoding=utf-8"
                        userId="guest" password="123456"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- !!!! Model Configurations （model生成配置，targetPackage指定生成的包路径，targetProject指定工程的位置） -->
        <javaModelGenerator targetPackage="cap.mvc.model" targetProject="./src/main/java">
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- !!!! Mapper XML Configurations （XML映射文件生成的位置） -->
        <sqlMapGenerator targetPackage="mapper" targetProject="./src/main/resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <!-- !!!! Mapper Interface Configurations（Mapper接口生成的位置） -->
        <javaClientGenerator targetPackage="cap.mvc.dao.mapper" targetProject="./src/main/java"
                             type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table tableName="classmate" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="rootInterface" value="cap.mvc.dao.mapper.custom.CustomClassmateMapper"/>
        </table>
        <table tableName="comments" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="rootInterface" value="cap.mvc.dao.mapper.custom.CustomCommentMapper"/>
        </table>
        <table tableName="page" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="rootInterface" value="cap.mvc.dao.mapper.custom.CustomPageMapper"/>
        </table>
        <table tableName="images" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="rootInterface" value="cap.mvc.dao.mapper.custom.CustomImagesMapper"/>
        </table>
        <table tableName="event" enableCountByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false"
               enableUpdateByExample="false">
            <property name="rootInterface" value="cap.mvc.dao.mapper.custom.CustomEventMapper"/>
        </table>
    </context>
</generatorConfiguration>