<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cap.mvc.dao.mapper.CommentMapper" >
  <resultMap id="BaseResultMap" type="cap.mvc.model.Comment" >
    <id column="COMM_ID" property="commId" jdbcType="BIGINT" />
    <result column="STU_NMB" property="stuNmb" jdbcType="DECIMAL" />
    <result column="PAGE_ID" property="pageId" jdbcType="BIGINT" />
    <result column="MSG" property="msg" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    COMM_ID, STU_NMB, PAGE_ID, MSG
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from comments
    where COMM_ID = #{commId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from comments
    where COMM_ID = #{commId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cap.mvc.model.Comment" >
    insert into comments (COMM_ID, STU_NMB, PAGE_ID, 
      MSG)
    values (#{commId,jdbcType=BIGINT}, #{stuNmb,jdbcType=DECIMAL}, #{pageId,jdbcType=BIGINT}, 
      #{msg,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cap.mvc.model.Comment" >
    insert into comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="commId != null" >
        COMM_ID,
      </if>
      <if test="stuNmb != null" >
        STU_NMB,
      </if>
      <if test="pageId != null" >
        PAGE_ID,
      </if>
      <if test="msg != null" >
        MSG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="commId != null" >
        #{commId,jdbcType=BIGINT},
      </if>
      <if test="stuNmb != null" >
        #{stuNmb,jdbcType=DECIMAL},
      </if>
      <if test="pageId != null" >
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        #{msg,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cap.mvc.model.Comment" >
    update comments
    <set >
      <if test="stuNmb != null" >
        STU_NMB = #{stuNmb,jdbcType=DECIMAL},
      </if>
      <if test="pageId != null" >
        PAGE_ID = #{pageId,jdbcType=BIGINT},
      </if>
      <if test="msg != null" >
        MSG = #{msg,jdbcType=VARCHAR},
      </if>
    </set>
    where COMM_ID = #{commId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cap.mvc.model.Comment" >
    update comments
    set STU_NMB = #{stuNmb,jdbcType=DECIMAL},
      PAGE_ID = #{pageId,jdbcType=BIGINT},
      MSG = #{msg,jdbcType=VARCHAR}
    where COMM_ID = #{commId,jdbcType=BIGINT}
  </update>
</mapper>