<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cap.mvc.dao.mapper.ImagesMapper" >
  <resultMap id="BaseResultMap" type="cap.mvc.model.Images">
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="PIC_PATH" property="picPath" jdbcType="VARCHAR" />
    <result column="DSC" property="dsc" jdbcType="VARCHAR" />
    <result column="GRO" property="gro" jdbcType="INTEGER" />
    <result column="DT" property="dt" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, PIC_PATH, DSC, GRO, DT
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from images
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="findAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from images
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from images
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cap.mvc.model.Images" >
    insert into images (ID, PIC_PATH, DSC,
    GRO, DT)
    values (#{id,jdbcType=INTEGER}, #{picPath,jdbcType=VARCHAR}, #{dsc,jdbcType=VARCHAR},
    #{gro,jdbcType=INTEGER}, #{dt,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cap.mvc.model.Images" >
    insert into images
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="picPath != null" >
        PIC_PATH,
      </if>
      <if test="dsc != null" >
        DSC,
      </if>
      <if test="gro != null" >
        GRO,
      </if>
      <if test="dt != null" >
        DT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="picPath != null" >
        #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="dsc != null" >
        #{dsc,jdbcType=VARCHAR},
      </if>
      <if test="gro != null" >
        #{gro,jdbcType=INTEGER},
      </if>
      <if test="dt != null" >
        #{dt,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cap.mvc.model.Images" >
    update images
    <set >
      <if test="picPath != null" >
        PIC_PATH = #{picPath,jdbcType=VARCHAR},
      </if>
      <if test="dsc != null" >
        DSC = #{dsc,jdbcType=VARCHAR},
      </if>
      <if test="gro != null" >
        GRO = #{gro,jdbcType=INTEGER},
      </if>
      <if test="dt != null" >
        DT = #{dt,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cap.mvc.model.Images" >
    update images
    set PIC_PATH = #{picPath,jdbcType=VARCHAR},
    DSC = #{dsc,jdbcType=VARCHAR},
    GRO = #{gro,jdbcType=INTEGER},
    DT = #{dt,jdbcType=BIGINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>