<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cap.mvc.dao.mapper.PageMapper" >
  <resultMap id="BaseResultMap" type="cap.mvc.model.Page" >
    <id column="PAGE_ID" property="pageId" jdbcType="BIGINT" />
    <result column="MODEl" property="model" jdbcType="INTEGER" />
    <result column="DSC" property="dsc" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="BIGINT" />
  </resultMap>

  <!-- 带关系的map -->
  <resultMap id="AsResultMap" type="cap.mvc.model.association.PageAs" >
    <id column="PAGE_ID" property="pageId" jdbcType="BIGINT" />
    <result column="MODEl" property="model" jdbcType="INTEGER" />
    <result column="DSC" property="dsc" jdbcType="VARCHAR" />
    <result column="BIRTHDAY" property="birthday" jdbcType="BIGINT" />

    <association property="classmate" javaType="cap.mvc.model.Classmate">
      <id column="classmate_STU_NMB" property="stuNmb" jdbcType="DECIMAL" />
      <result column="classmate_PAGE_ID" property="pageId" jdbcType="BIGINT" />
      <result column="NAME" property="name" jdbcType="VARCHAR" />
      <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
      <result column="PWD" property="pwd" jdbcType="VARCHAR" />
      <result column="DSC_class" property="dsc" jdbcType="VARCHAR" />
      <result column="AUTHORITY" property="authority" jdbcType="INTEGER" />
      <result column="HEAD_IMG" property="headImg" jdbcType="VARCHAR" />
    </association>

    <collection  property="commentList" ofType="cap.mvc.model.Comment">
      <id column="COMM_ID" property="commId" jdbcType="BIGINT" />
      <result column="comm_STU_NMB" property="stuNmb" jdbcType="DECIMAL" />
      <result column="comm_PAGE_ID" property="pageId" jdbcType="BIGINT" />
      <result column="MSG" property="msg" jdbcType="VARCHAR" />
    </collection >
  </resultMap>

  <sql id="Base_Column_List_Classmate" >
    classmate.STU_NMB as classmate_STU_NMB, classmate.PAGE_ID as classmate_PAGE_ID, NAME, NICKNAME, PWD, classmate.DSC as DSC_class, AUTHORITY, HEAD_IMG
  </sql>

  <sql id="Base_Column_List_Comment" >
    COMM_ID, comments.STU_NMB as comm_STU_NMB, comments.PAGE_ID as comm_PAGE_ID, MSG
  </sql>

  <sql id="Base_Column_List" >
    page.PAGE_ID, MODEl, page.DSC, BIRTHDAY
  </sql>

  <select id="asSelectById" resultMap="AsResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />,<include refid="Base_Column_List_Classmate"/>,<include refid="Base_Column_List_Comment"/>
    FROM page
    NATURAL JOIN comments
    LEFT JOIN classmate on page.PAGE_ID = classmate.PAGE_ID
    where page.PAGE_ID =#{pageId,jdbcType=BIGINT};
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from page
    where PAGE_ID = #{pageId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from page
    where PAGE_ID = #{pageId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cap.mvc.model.Page" >
    insert into page (PAGE_ID, MODEl, DSC, 
      BIRTHDAY)
    values (#{pageId,jdbcType=BIGINT}, #{model,jdbcType=INTEGER}, #{dsc,jdbcType=VARCHAR}, 
      #{birthday,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="cap.mvc.model.Page" >
    insert into page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pageId != null" >
        PAGE_ID,
      </if>
      <if test="model != null" >
        MODEl,
      </if>
      <if test="dsc != null" >
        DSC,
      </if>
      <if test="birthday != null" >
        BIRTHDAY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pageId != null" >
        #{pageId,jdbcType=BIGINT},
      </if>
      <if test="model != null" >
        #{model,jdbcType=INTEGER},
      </if>
      <if test="dsc != null" >
        #{dsc,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        #{birthday,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cap.mvc.model.Page" >
    update page
    <set >
      <if test="model != null" >
        MODEl = #{model,jdbcType=INTEGER},
      </if>
      <if test="dsc != null" >
        DSC = #{dsc,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null" >
        BIRTHDAY = #{birthday,jdbcType=BIGINT},
      </if>
    </set>
    where PAGE_ID = #{pageId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="cap.mvc.model.Page" >
    update page
    set MODEl = #{model,jdbcType=INTEGER},
      DSC = #{dsc,jdbcType=VARCHAR},
      BIRTHDAY = #{birthday,jdbcType=BIGINT}
    where PAGE_ID = #{pageId,jdbcType=BIGINT}
  </update>
</mapper>